<div class="jumbotron">
  <h1 class="display-3"><%= @course.title %></h1>
  <p class="lead"><%= @course.description %></p>
  <hr class="m-y-2">
  <p class="lead">
    <% if @subscription.ids != [] %>
      <%= form_for :seat, url: course_seats_path do |f| %>
        <%= f.hidden_field :course_id, value: params[:course_id] %>
        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.submit 'Register For Course', class: 'btn btn-primary btn-lg' %>
      <% end %>
    <% else %>
      <%= link_to 'Sign Up For Anticasts to Get Access to this Course !', subscription_path('new') %>
    <% end %>
  </p>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <h5>More Info</h5>
    <p>This course is 5 hours long</p>
  </li>
</ul>
<br>
<h2>Course Outline</h2>
<hr class="m-y-2">
<ul class="list-group">
  <% @sections.each do |s| %>
  <li class="list-group-item">
    <h5><%= s.title %></h5>
    <p><%= s.description %></p>
    <ol>
      <% @lessons.where(section_id: s.id).each do |l| %>
        <li><%= l.title %> - <%= l.description %></li>
      <% end %>
    </ol>
  </li>
  <% end %>
</ul>
