<nav class="navbar navbar-full navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">Anticasts</a>
  <ul class="nav navbar-nav">
    <% if !user_signed_in? %>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Pricing</a>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-danger nav-link" %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Courses', courses_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Options', edit_user_registration_path, class: 'nav-link' %><!-- This Will be part of the user edit page system-->
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to "Sign out", destroy_user_session_path, class: 'nav-link', :method => :delete %>
      </li>
    <% end %>
  </ul>
</nav>
