<h1>All Anticast Courses</h1>
<hr class="m-y-2">
<div class="row">
    <% @courses.each do |c| %>
    <div class="offset-md-3 col-md-6">
        <div class="card text-xs-center">
            <img class="card-img-top" src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/517/thumb_Intellegent_business_planning.jpg" alt="Card image cap">
            <div class="card-block">
            <% if Seat.where(course_id: c.id, user_id: current_user.id).blank? %>
                <h4 class="card-title"><%= c.title %></h4>
                <p class="card-text"><%= c.description %></p>
                <%= link_to 'Register For This Course', new_course_seat_path(c), class: 'btn btn-primary' %>
            </div>
            <div class="card-footer text-muted">
                Join 402 Students !
            </div>
        <% else %>
        <h4 class="card-title"><%= c.title %></h4>
            <p class="card-text"><%= c.description %></p>
            <%= link_to 'Go to Course', c, class: 'btn btn-success' %>
        </div>
        <div class="card-footer text-muted">
            You and 402 Students are already registered for this course !
        </div>
        <% end %>
        </div>
    </div>
    <% end %>
</div>
