<h1></h1>
<p> </p>
<div class="jumbotron">
  <h1 class="display-3"><%= @course.title %></h1>
  <p class="lead"><%= @course.description %></p>
  <hr class="m-y-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Next Lesson</a>
    <div class="text-xs-center" id="example-caption-4">Course Progress&hellip; 45%</div>
    <progress class="progress" value="45" max="100" aria-describedby="example-caption-4"></progress>
  </p>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <h5>More Info</h5>
    <p>This course is 5 hours long</p>
  </li>
  <li class="list-group-item">
    <h5>Progress</h5>
    <p>You are about 45% done with the course.</p>
  </li>
</ul>
<br>
<h2>Course Outline</h2>
<hr class="m-y-2">
<ul class="list-group">
  <% @sections.each do |s| %>
  <li class="list-group-item">
    <h5><%= s.title %></h5>
    <p><%= s.description %></p>
    <ol>
      <% @lessons.where(section_id: s.id).each do |l| %>
        <li><%= link_to l.title, course_lesson_path(l.course_id,l) %> - <%= l.description %></li>
      <% end %>
    </ol>
  </li>
  <% end %>
</ul>
<br>
<%= link_to "Unregister", course_seat_path(@course, @seat.ids), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are You sure?'} %>
