<!DOCTYPE html>
<html>
  <head>
    <title>Anticasts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/navbars/main_bar" %>
    <div class="container">
      <div class="push-down">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
